.section {
	width: 900px;
}

h2 {
	text-align: center;
}

#field {
	background-image: url(images/field.png);
	width: 800px;
	height: 480px;
	margin: 10px auto;
	position: relative;
	padding: 3px;
	border: 10px solid #008C00;

}

#ball {
	position: absolute;
	height: 14px;
	width: 14px;
	background-image: url(images/ball.png);
}

.player {
	position: absolute;
	height: 40px;
	width: 40px;
}

#browserWarning {
	background-color: #FF2121;
	width: 400px;
	padding: 20px;
	margin: 0px auto;
	color: #3C0000;
}

#scoreboard {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

.red {
	color: #ea2b2b;
}

.blue {
	color: #2e5dd7;
}

a img {
	border-style: none;
}
