body {
	-webkit-user-select: none; /* prevent webkit from highlighting things as the user drags */
}

#frame {
	height: 500px;
	width: 750px;
	margin: 0px auto;
	color: black;
  line-height: 1em; /* prevent line height from spacing out icons */
}

#toolbar {
	float: left;
	height: 440px;
	width: 100px;
	padding: 30px 25px;
	background-color: #666666;
	-moz-border-radius-topleft: 13px;
	-moz-border-radius-bottomleft: 13px;
	-webkit-border-top-left-radius: 13px;
	-webkit-border-bottom-left-radius: 13px;
	box-shadow: 0px 0px 10px #666666;
}

table, #currentColor {
	margin: 0px auto;
}

/* Tools */
#tools #save {
	margin-bottom: 16px;
}

#tools td, #tools div {
	border: 1px solid transparent;
	background-color: white;
	text-align: center;
	cursor: pointer;
}

#tools div {
	width: 26px;
	margin: 0px auto;
}

#tools img {
	padding: 3px 5px;
}

/* Colors */
#colors {
	margin-top: 40px;
}

#colors td {
	height: 20px;
	width: 20px;
	border: 1px solid transparent;
	padding: 0px;
	cursor: pointer;
}

#currentColor {
	height: 40px;
	width: 40px;
	margin-top: 20px;
  background-color: black;
}

#canvas {
	background-color: white;
	box-shadow: 0px 0px 10px #666666;
}

#nocanvas {
	margin: 50px;
	margin-left: 200px;
}

ul li * {
  vertical-align: middle;
}

.green {
  color: #34ed38;
}