#controls {
	text-align: center;
}

#timer {
	text-align: right;
	margin-right: 20px;
}

#frame {
	width: 80%;
	border: 1px solid #555555;
	margin: 40px auto;
	position: relative;
	background-color: white;
	color: #005280;
}

#korean, .fan {
	width: 45px;
	height: 60px;
	position: absolute;
	background-repeat: none;
}

#korean {
	background-image: url("images/korean.png");
}

.fan {
	background-image: url("images/fan.png");
}

#message {
	color: #005280;
	font-size: 2em;
	font-weight: bold;
	margin-top: 50px;
	text-align: center;
}
